{
    "appName": "#TwidoPlease",
    "appNetwork": {
        "timeout": 20
    },
    "urlShortener": {
        "rebrandly": {
            "active": true,
            "baseUrlApi": "https://api.rebrandly.com/v1/links",
            "apiKey": "d741b671fc074cc1ac07e68157042fe9",
            "domain": "twidoplease.com"
        }
    },
    "redisConnection": {
        "address": "localhost:6379",
        "password": "",
        "db": 0
    },
    "twitterApiKey": {
        "consumer": "VgIZYMlgh1LTQyk1RWjZRGtMR",
        "consumerSecret": "98RlY0ic2elzHyHlgJzPpHhJw21sWu7QnOXIYS5zy0FTChKrR8",
        "access": "1116636107230158848-XkrJe2GlWdf4Rtgwgu0XxSEFkAHgF9",
        "accessSecret": "T8Nx7IIKLsKcxZytcAaXlHLVtHkGkXTkNnGImBPD9bXFX"
    },
    "twitterApiEndpoint": {
        "search-tweets": {
            "method": "GET",
            "url": "https://api.twitter.com/1.1/search/tweets.json"
        },
        "show-status": {
            "method": "GET",
            "url": "https://api.twitter.com/1.1/statuses/show.json"
        },
        "lookup-statuses": {
            "method": "GET",
            "url": "https://api.twitter.com/1.1/statuses/lookup.json"
        },
        "update-status": {
            "method": "POST",
            "url": "https://api.twitter.com/1.1/statuses/update.json"
        }
    },
    "twitterObservation": {
        "keyword": "@twidopls",
        "maxSearchCount": "100"
    },
    "stringFormat": {
        "forwardLink": "http://172.245.33.105/?video={video_url}&requested_by={username}&tweet_id={tweet_id}",
        "notification": "I ask the almighty God about the video link for you and it's accessible on: {video_url} \n\n-Don't hesitate to come back buddy, @{username}"
    }
}
